PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/smart-health-management
JWT_SECRET=6as5dfr89df65da4sd689489asd4sasdf54as65sdf64g
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
OPENROUTESERVICE_API_KEY=eyJvcmciOiI1YjNjZTM1OTc4NTExMTAwMDFjZjYyNDgiLCJpZCI6ImMxMTI0MWRiZTg2NTQ0M2ZiZjA3N2Q4NDA3NjQxZDZmIiwiaCI6Im11cm11cjY0In0=
VAPID_PUBLIC_KEY=BJqlB_K__PwwOp3aAZCzKXi6TBZ_sQMeoYED9kkCtwzbdWcCn6Nk0m9eOqVbKRfq99aVTjo-3paO2GBM09q9TjY
VAPID_PRIVATE_KEY=9ZpF00mGlLLZeXMcIU5Kd-44BKVPK41f3HogHOu8i8s
VAPID_SUBJECT=mailto:admin@arogyaplus.com
